.page404 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* margin-bottom: 60px; */
}
.page404__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page404__title {
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  margin: 0;
}
.page404__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0;
}
.page404__button {
  all: unset;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 184px auto 60px;
  color: #3456f3;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.3s linear;
  -webkit-tap-highlight-color: transparent;
  flex: 1;
}
.page404__button:hover {
  opacity: 0.7;
}

@media (max-width: 1020px) {
  .page404 {
    justify-content: center;
  }
  .page404__wrap{
    margin-bottom: 10vh;
  }
}

@media (max-width: 520px) {
  .page404 {
    justify-content: flex-end;
  }
  .page404__wrap {
    margin-bottom: 0;
  }
  .page404__title {
    font-size: 80px;
    line-height: 97px;
  }
  .page404__text {
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px;
  }
  .page404__button {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 4vh;
    margin-top: 36vh;
  }
}
