.portfolio__title {
  margin: 101px 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
}
.portfolio__list {
  list-style: none;
  padding-left: 0;
  margin-top: 50px;
  margin-bottom: 125px;
  display: flex;
  flex-direction: column;
}
.portfolio__item {
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  padding: 20px 0 19px;
  border-bottom: 1px solid #e8e8e8;
}
.portfolio__item:first-child {
  padding-top: 0;
}
.portfolio__item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.portfolio__icon {
  width: 29px;
  height: 60px;
}

@media (max-width: 840px) {
  .portfolio {
    margin-left: 20px;
    margin-right: 20px;
  }
  .portfolio__title {
    margin-top: 91px;
    font-size: 18px;
    line-height: 20px;
  }
  .portfolio__item {
    font-size: 28px;
    line-height: 50px;
  }
  .portfolio__list {
    margin-top: 50px;
    margin-bottom: 90px;
  }
}

@media (max-width: 540px) {
  .portfolio {
    margin-left: 4px;
    margin-right: 4px;
  }
  .portfolio__title {
    margin-top: 70px;
    font-size: 14px;
    line-height: 20px;
  }
  .portfolio__list {
    margin-top: 40px;
    margin-bottom: 70px;
  }
  .portfolio__item {
    font-size: 18px;
    line-height: 28px;
  }
  .portfolio__icon {
    width: 12px;
    height: 20px;
  }
}
