.header__link {
  text-decoration: none;
  font-size: 0;
  align-self: center;
}

.header__logo {
  cursor: pointer;
  transition: opacity 0.3s linear;
  -webkit-tap-highlight-color: transparent;
}

.header__logo:hover {
  opacity: 0.8;
}

@media (max-width: 720px) {
  .header__link {
    display: block;
    text-align: center;
  }
}
