.menu {
  position: fixed;
  width: 68vw;
  height: 100vh;
  top: 0;
  right: 0;
  background: #fff;
  transform: translate(270%);
  transition: all 0.2s;
}
.menu__active {
  transform: translate(0);
  transition: all 0.2s;
}
.blur {
  width: 100vw;
  height: 100vh;
  right: 100%;
  opacity: 0.3;
  position: absolute;
  background: #000000;
  z-index: 2;
}
.menu__content {
  width: 100%;
  height: 100vh;
}
.menu__header {
  display: flex;
  justify-content: flex-end;
  margin-right: 26px;
  margin-top: 12px;
}
.menu__header:after {
  display: inline-block;
  content: '\00d7';
  font-size: 40px;
  cursor: pointer;
  text-align: right;
}
.menu__list {
  text-align: right;
  list-style: none;
  padding: 102px 0 99px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}
.menu__list-wrap {
  display: flex;
  gap: 28px;
  flex-direction: column;
  align-items: center;
}
.menu__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.menu__item_type_last {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
  line-height: 16px;
}
.menu__link {
  text-decoration: none;
  color: #000;
}
.menu__link:hover {
  border-bottom: 2px solid #000;
  padding-bottom: 4px;
  margin-bottom: -6px;
}
.menu__link_active {
  border-bottom: 2px solid #000;
  padding-bottom: 4px;
  margin-bottom: -6px;
}

@media (max-width: 520px) {
  .menu {
    width: 100%;
    height: 100%;
  }
  .menu__header {
    margin-top: 2px;
  }
  .menu__list {
    padding-top: 97px;
    padding-bottom: 55px;
  }
  .menu__list-wrap{
    gap: 24px;
  }
  .menu__link:hover {
    padding-bottom: 7px;
    margin-bottom: -9px;
  }
  .menu__link_active {
    padding-bottom: 7px;
    margin-bottom: -9px;
  }
}
