.about-project {
  padding-bottom: 100px;
}

.about-project__main {
}

.about-project__steps {
  display: grid;
  column-gap: 40px;
  grid-template-columns: repeat(2, 550px);
  grid-template-rows: 1fr;
  justify-content: center;
  margin-top: 70px;
  list-style: none;
  padding-left: 0;
}

.about-project__step {
}

.about-project__step-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin: 0;
}

.about-project__step-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 26px 0 0;
}

.about-project__progress {
  display: flex;
  margin-top: 110px;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.about-project__progress-stage {
  justify-self: center;
  text-align: center;
}

.about-project__progress-stage_type_second {
  flex: 1px;
}

.about-project__progress-stage-title {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  min-width: 200px;
  min-height: 18px;
}

.about-project__progress-stage-title_type_first {
  padding: 9px 0;
  min-width: 228px;
  background-color: #2be080;
}

.about-project__progress-stage-title_type_second {
  padding: 9px 0;
  background-color: #f2f2f2;
}

.about-project__progress-stage-description {
  margin: 14px 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #a0a0a0;
  align-self: center;
}

@media (max-width: 1020px) {
  .about-project {
    padding-bottom: 90px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .about-project__progress-stage-title_type_first {
    min-width: 140px;
  }

  .about-project__steps {
    column-gap: 30px;
    grid-template-columns: repeat(2, 319px);
    grid-template-rows: 1fr;
  }
  .about-project__progress {
    margin-top: 93px;
  }
  .about-project__step-description {
    font-size: 12px;
    line-height: 18px;
    margin-top: 22px;
  }
}

@media (max-width: 767px) {
  .about-project__steps {
    row-gap: 56px;
    grid-template-columns: repeat(1, 284px);
    grid-template-rows: 1fr;
  }
  .about-project__progress-stage-title_type_first {
    min-width: 100px;
  }
}

@media (max-width: 540px) {
  .about-project {
    padding-bottom: 70px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .about-project__step-title {
    font-size: 18px;
    line-height: 22px;
  }
  .about-project__steps {
    margin-top: 60px;
  }
  .about-project__step-description {
    font-size: 11px;
    line-height: 16px;
    margin-top: 16px;
  }
  .about-project__progress {
    margin-top: 60px;
  }
  .about-project__progress-stage-title {
    font-size: 11px;
    line-height: 13px;
    min-width: 100px;
  }
  .about-project__progress-stage-description {
    font-size: 11px;
    line-height: 13px;
  }
}
