.techs {
  padding-bottom: 100px;
  text-align: center;
}
.techs-title {
  max-width: 600px;
  width: 100%;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 90px auto 0;
}
.techs-description {
  max-width: 460px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
  margin: 26px auto 0;
}
.techs-list {
  list-style: none;
  padding-left: 0;
  margin-top: 100px;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.techs-item {
  display: flex;
  background-color: #e8e8e8;
  border-radius: 10px;
  width: 90px;
  min-height: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
  justify-content: center;
  align-items: center;
}

@media (max-width: 840px) {
  .techs {
    padding-bottom: 90px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .techs-title {
    margin-top: 80px;
  }
  .techs-description {
    font-size: 12px;
    line-height: 18px;
    margin-top: 22px;
  }
  .techs-list {
    margin-top: 83px;
  }
  .techs-item {
    width: 84px;
    min-height: 57px;
    font-size: 12px;
    line-height: 15px;
  }
}

@media (max-width: 540px) {
  .techs {
    margin-left: 8px;
    margin-right: 8px;
    padding-bottom: 70px;
  }
  .techs-title {
    font-size: 30px;
    line-height: 36px;
    margin-top: 60px;
  }
  .techs-description {
    font-size: 11px;
    line-height: 16px;
    margin-top: 24px;
  }
  .techs-list {
    max-width: 200px;
    justify-content: start;
    align-content: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}
