.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.login__wrap {
  max-width: 390px;
  max-height: 560px;
  margin: 70px auto;
}
.sign__input-field_type_password-login {
  margin-top: 22px;
}
.sign__input_field_name {
}
.sign__field {
}
.name-input-error {
}
.input__error-field {
}
.sign__input_field_email {
}
.sign__submit-button_type_login {
  margin-top: 221px;
}

@media (max-width: 720px) {
  .login__wrap {
    margin-top: 56px;
    margin-bottom: 30px;
  }
}

@media (max-width: 420px) {
  .login__wrap {
    margin: 0 20px;
    padding-top: 126px;
    padding-bottom: 30px;
  }
  .sign__submit-button_type_login {
    margin-top: 0;
  }
}
